{% load otree static %}
{% block styles %}
<link href="{% static 'global/css/Carbontask.css' %}" rel="stylesheet">
{% endblock %}

<h3 style="color: #007bff; font-size: 1.4rem">Please read carefully: Instructions on the product choice task</h3>
<br>
<div>
<p style="text-align:left; font-size: 0.95rem;">
    In the upcoming pages, you will be presented with various hypothetical investment scenarios.
    <b>Please imagine that you are contemplating to purchase a new car.</b>
    <br><br>
    Your role is to evaluate different offers for <b>electric vehicles</b> and decide whether or not you would choose to buy each car. An electric car operates exclusively on electricity, utilizing an electric motor instead of the conventional internal combustion engine found in typical cars.
    <br><br>
    Consider the following attributes that vary across the offers:
</p>
</div>

<div>
<ul style="text-align:left;  font-size: 0.95rem">
    <li><b>Investment Costs:</b> This monetary attribute defines the <b>total investment costs of the electric car</b>. Citizens may be eligible for government subsidies, which reduce the costs. The costs depend on the make of the car and the subsidies received.</li>
    <br><li><b>Savings on Driving:</b> Electric vehicles have lower running costs than traditional gasoline cars. The <b>savings are calculated compared to the costs of driving a gasoline car </b> and are based on electricity prices and efficiency for 100 miles.</li>
    <br><li><b>Life Cycle Emissions:</b> This refers to the total greenhouse gas emissions associated with an electric vehicle <b>throughout its entire lifespan</b>. It takes into account emissions from manufacturing, disposal, and the electricity needed for the journey. In simpler terms, this corresponds to assessing the environmental footprint of the electric car from the moment of its creation to its retirement after <b>approximately 150,000 miles</b>.</li>
    <br><li><b>Battery Range:</b> Battery range indicates the <b>distance an electric vehicle can travel on a single battery charge</b>. It defines how far you can drive before needing to recharge the vehicle's battery.</li>
    <br><li><b>Adopters in the Neighborhood:</b> This attribute represents the <b>percentage of people in your neighborhood who currently drive a <i>similar electric car</i></b>.</li>
</ul>
</div>

<div>
<p style="text-align:left; font-size: 0.95rem;">
    <b>Each electric car presented in an offer is designed to match the characteristics of a car you would
        consider buying. This includes factors such as model, size, engine power, and the number of doors.</b>
    <br>
    As in the practice run, the attributes of the products will be concealed behind boxes.
    To view the attributes, hover your mouse pointer over the box.
    The box will open, allowing you to see the information.
    <br><br>
    <b>Please decide whether you would or would not purchase each electric vehicle presented,
        considering your need for a new car. </b></p>
</div>