{% load otree static %}
{% block styles %}
<link href="{% static 'global/css/Carbontask.css' %}" rel="stylesheet">
{% endblock %}

<h3 style="color: #007bff; font-size: 1.4rem"> {{ Lexicon.product_intro_title }}</h3>
<br>
<div>
<p style="text-align:left; font-size: 0.95rem;">
    {{ Lexicon.product_intro_text1 }}
    {{ Lexicon.product_intro_text2 }}
    {{ Lexicon.product_intro_text3 }}
</p>
</div>

<div>
<ul style="text-align:left;  font-size: 0.95rem">
    <li><b>{{ Lexicon.investment_cost }}</b> {{ Lexicon.investment_cost_text }}</li>
    <br><li><b> {{ Lexicon.savings }}</b> {{ Lexicon.savings_text }}</li>
    <br><li><b> {{ Lexicon.emissions }}</b> {{ Lexicon.emissions_text }}</li>
    <br><li><b> {{ Lexicon.range }}</b> {{ Lexicon.range_text }}</li>
    <br><li><b> {{ Lexicon.adopters }}</b> {{ Lexicon.adopters_text }}</li>
</ul>
</div>

<div>
<p style="text-align:left; font-size: 0.95rem;">
    <b> {{ Lexicon.product_intro_text4 }}</b>
    <br>
    {{ Lexicon.product_intro_text5 }}
    <br><br>
    <b>{{ Lexicon.product_intro_text6 }}</b></p>
</div>