{% block content %}
<h3 style="font-size: 1.4rem">Electric Vehicle Questions</h3><br>

<p> Please consider the following definition for electric vehicles:<br>
    <b>Electric vehicles are cars that run on electricity.</b>
    They use rechargeable batteries to power electric motors,
    eliminating the need for gas and reducing or eliminating tailpipe emissions.
    <br><br>Please answer the following questions.</p>

<div>
    {% if player.field_maybe_none('car_type') and player.car_type != "gasoline" %}
        {% formfield player.wom_owner %}
    {% endif %}
    {% formfield player.wom_number %}
    {% formfield player.wom_positive %}
    {% formfield player.wom_negative %}
</div>

{{ next_button }}

{% endblock %}


